.application-fill           { fill: #cdffa2; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#stop-pool {
  width: 100%;
  x: 0%;
  y: 10%;
}

#bus-pool {
  width: 100%;
  x: 0%;
  y: 10%;
}

#endBtn {
  x: 50%-36;
  y: 75%;
}

#endBtn #image{
  href: "check.png";
}